title: "Maxime Nicaise"
email: "maxime.nicaise@student-cs.fr"
description: >-
  MSc student in Applied Mathematics at CentraleSupélec (Université Paris-Saclay).
  Interested in Machine Learning, Optimal Transport, and mathematical modeling.

# Identifiants et thème
twitter_username: ""
github_username: "nicaisemarseille"
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: Europe/Paris

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Maxime Nicaise"
  avatar : "/assets/images/profile.jpg"
  bio    : "MSc student in Applied Mathematics at CentraleSupélec (Université Paris-Saclay). Interested in Machine Learning, Optimal Transport, and mathematical modeling."
  location: "Marseille, France"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:maxime.nicaise@student-cs.fr"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/nicaisemarseille"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/maxime-nicaise-b4312b291/"
    - label: "CV (PDF)"
      icon: "fas fa-fw fa-file-pdf"
      url: "/assets/cv_english_prive-5.pdf"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/nicaisemarseille"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/maxime-nicaise-b4312b291/"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:maxime.nicaise@student-cs.fr"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false

  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
